# dependencies
/node_modules

# database
/data/

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*

# env files
.env
.env*.local

# typescript
*.tsbuildinfo
next-env.d.ts

# claude
.claude/
CLAUDE.md

# docs
/docs/
